#tabel-siswa {
    border-collapse: collapse;
    background-image: url(background.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin: auto;
}
#tabel-siswa h3 {
    font-size: 32px;
    color:aliceblue;
}
#tabel-siswa th {
    color:aliceblue;
}
#tabel-siswa td {
    padding: 20px;
    color:rgb(233, 152, 2);
}
.link {
    color: red;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;    
    background: rgb(222, 238, 6);
}
.kembali {
        text-align: center;
}

.kembali a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
}